# MongoDB Excel Import

TODO: https://stackoverflow.com/questions/47544088/how-to-convert-a-pandas-dataframe-to-a-list-of-dictionaries-where-nan-values-are?noredirect=1&lq=1

In [32]:
import pandas as pd
import pymongo
from pymongo import MongoClient
import pprint

### Initialise MongoDB Client:

In [33]:
#client = pymongo.MongoClient("mongodb+srv://user:password@hostname.mongodb.net/test?retryWrites=true&w=majority")
client = pymongo.MongoClient("127.0.0.1")
db = client.test

### Configure Excel Import:

In [34]:
rowLimit = 5
filename = 'test.xlsx'
sheet1 = 'Person'
sheet2 = 'Phone'
primaryKey = 'personID'
arrayName = 'numbers'

### Import Sheet 1 and Rename primaryKey to _id:

In [35]:
# Skip blank lines bug: https://github.com/pandas-dev/pandas/issues/22693 -> doesn't work currently and requires a cleaned sheet
df_1 = pd.read_excel(filename, sheet1, dtype={primaryKey:int}, skip_blank_lines = True, nrows=rowLimit)

In [36]:
df_1.rename(inplace=True,columns={primaryKey:'_id'})
print(df_1)

   _id Vorname     Nachname
0    1   Felix  Reichenbach
1    2     Urs       K채stli
2    3    Ingo          NaN
3    4   Peter       M체ller

### Import Sheet 2 and Rename primaryKey to _id:

In [37]:
df_2 = pd.read_excel(filename, sheet2, dtype={primaryKey:int}, skip_blank_lines = True, nrows=rowLimit)

In [38]:
df_2.rename(inplace=True,columns={primaryKey: '_id'})
print(df_2)

   _id       number      type
0    1  123-456-789      home
1    2  123-456-790      home
2    2  123-456-791  business
3    3  123-456-792    mobile
4    4  123-456-793    mobile

### Convert Rows to Dictionary:

In [39]:
#dict_1 = df_1.to_dict('records')
#print(dict_1)

#dict_2 = df_2.to_dict('records')
#print(dict_2)

In [40]:
df_1.apply(lambda x : x.dropna().to_dict(),axis=1)

df_2.apply(lambda x : x.dropna().to_dict(),axis=1)

0    {'_id': 1, 'number': '123-456-789', 'type': 'h...
1    {'_id': 2, 'number': '123-456-790', 'type': 'h...
2    {'_id': 2, 'number': '123-456-791', 'type': 'b...
3    {'_id': 3, 'number': '123-456-792', 'type': 'm...
4    {'_id': 4, 'number': '123-456-793', 'type': 'm...
dtype: object

In [53]:
print(df_1.iloc[1].Vorname)

Urs

### Merge person with the belonging numbers:

In [62]:
for k, v in df_1.items():
    item2_list = []
    #print(k)
    print(v)
    print(df_1.iloc[0])

0    1
1    2
2    3
3    4
Name: _id, dtype: int64
_id                   1
Vorname           Felix
Nachname    Reichenbach
Name: 0, dtype: object
0    Felix
1      Urs
2     Ingo
3    Peter
Name: Vorname, dtype: object
_id                   1
Vorname           Felix
Nachname    Reichenbach
Name: 0, dtype: object
0    Reichenbach
1         K채stli
2            NaN
3         M체ller
Name: Nachname, dtype: object
_id                   1
Vorname           Felix
Nachname    Reichenbach
Name: 0, dtype: object

### Load Dictionary into MongoDB:

In [ ]:
db.excelimport.insert_many(dict_1)