# MongoDB to Parquet File Export

Guide: https://arrow.apache.org/docs/python/parquet.html#reading-and-writing-single-files

Dremel: https://blog.twitter.com/engineering/en_us/a/2013/dremel-made-simple-with-parquet.html

In [63]:
import pymongo
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [64]:
#client = pymongo.MongoClient("mongodb+srv://user:password@hostname.mongodb.net/test?retryWrites=true&w=majority")
client = pymongo.MongoClient("127.0.0.1")
db = client.test

In [69]:
data = {'col1': [1, 2, 7], 'col2': [3, 4, 0]}

In [70]:
df = pd.DataFrame(data)

In [71]:
table1 = pa.Table.from_pandas(df)

In [72]:
pq.write_table(table1, 'example.parquet')

In [73]:
table2 = pq.read_table('example.parquet')

In [74]:
table2.to_pandas()

   col1  col2
0     1     3
1     2     4
2     7     0

End